@media (min-width: 1200px){
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 0.1fr 3.4fr auto auto;
        gap: 0px 0px;
        grid-template-areas:
          "navbar navbar navbar"
          "title title title"
          "content content content"
          "footer footer footer"
          "footer footer footer";
      }
    
    .navbar{
        display: flex;
        grid-area: navbar;
        background-color: #556b99;
        color: white;
        align-items: center;
        justify-content: space-around;

        p{
            font-size: $fuente-grande;
        }

        ul{
            li{
                font-size: $fuente-grande;
                list-style: none;
                display: inline;
                padding:5px;
            }
        }
    }

    .content-inicio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        grid-auto-flow: row;
        grid-area: content;
        background: #343c3f;
        align-items: center;
        text-align:center;

        .item-content{
            p{
                margin-right: 120px;
                font-size: $fuente-grande;
                color: rgb(221, 53, 53);
            }
        }
    }

    .content-nosotros{
        grid-area: content;
        display: flex;
        flex-direction: column;
        background-color: rgb(231, 223, 231);
        gap: 20px;
        text-align: justify;
        justify-content: center;
        align-items: center;
    }

    .content-contacto{
        grid-area: content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #343c3f;
        color: whitesmoke;
    }
    
    .content-portfolio{
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 5px;
        justify-content: center;
        background-color: rgb(107, 96, 96);

        img{
            width: 400px;
            height: auto;
            filter: grayscale(1);
        }

        p{
            text-align: center;
        }
    }

}