
.navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-nav;

    p{
        font-size: $fuente-normal;
        color: white;
    }

    ul{
        list-style: none;

        li{
            display: inline;
        }

    }

    a{
        text-decoration: none;
        color: white;

        &:hover{
            color:goldenrod;
            font-size: $fuente-grande;
        }
    }

}

.content-inicio{
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    background: #343c3f;

    p{
    color: white;
    font-size: $fuente-normal;
    font-family: 'Arial';
    font-style: oblique;
    text-align: center;
        &:hover{
            color:rgb(218, 85, 32);
            font-size: larger;
        }

    }
}
.footer{
    display: flex;
    flex-direction: column;
    grid-area: footer;
    background-color: #ff497c;
    align-items: center;
    color: white;
    justify-content: center;
    text-align: center;

    ul{
        list-style: none;

        li{
            display: inline-flex;
            padding: 2px;
        }
    }
}

.content-nosotros{
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;
    background-color: map-get($estilo-propio, backColor);

    p{
        font-size: map-get($estilo-propio, sFuente );
        padding-left: map-get($estilo-propio, tPadding );
        font-weight: map-get($estilo-propio, wFuente );
    }
}

.content-servicios{
    display: flex;
    flex-direction: row;
    background-color: #343c3f;
    gap: 2px 2px;
    grid-area: content;
    color: white;
    justify-content: center;
    align-items: center;
}

.content-servicios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #343c3f;
    gap: 4px 10px;
    grid-area: content;
    color: white;
    justify-content: center;
    align-items: center;

    i{
        margin-top: 50px;
    }

    p{
        margin-top: 40px;
    }
}

.content-contacto{
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #343c3f;
    color: whitesmoke;

    .contacto-item1{
        width: 40%;
        padding-left: 30px;
    }

    .contacto-item2{
        margin-top: 20px;
        width: 50%;
        margin-left: 25%;
        margin-bottom: 20px;
    }
    
    fieldset{
        text-align: center;
        width: 100%;
        legend{
            font-weight: bold;
            font-size: 20px;
        }
    }

    form{
        width: 100%;
        padding: 15px;
        border-radius:10px;

        label{
            padding-left: 30px;
            width: 30%;
            font-weight: bold;
            display: inline-block;
          }
        
        input[type="text"]{
            width: 40%;
            padding: 2px 10px;
            border: 1px solid #f6f6f6;
            border-radius: 1px;
            margin: 8px 0;
            display: inline;
        }
        
        input[type="submit"]{
            display: inline;
        }
        
        textarea{
          width: 80%;
          height: 150px;
          margin: 8px 0;
          resize: none;
        }

    }

}