/*elementos-propiedades globales*/

html, body , .container {
    height: 100%;
    margin: 0px;
    font-family: 'Outfit', sans-serif;
}
/*variables de prueba*/
$color-nav:#556b99;
$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;
$font: font;

.titulo{
    grid-area: title;
    background: #343c3f;
    text-align: center;
    color: white;
}

img{
    max-width: 100%;
}

/*MAPS*/

$colores_generales:(
   principal: #0A3143,
   complementerario: #A9A9A9,
   secundario: #ff3b3f,
   oscuro: #E6621f,
   claro: #EFEFEF, 
);

@each $nombre,$color in $colores_generales{
  .col--#{$nombre}{
      color: $color;
  }  
}

/*MAP-GET*/

$estilo-propio:(
    bFuente: 25px,
    sFuente: 20px,
    wFuente: 800,
    tStyle: left,
    backColor: rgb(243, 223, 223),
    tPadding: 20px,

);

/* Extends para uso de botones*/
.btn {
    width: 150px;
    text-align: center;
    padding: 9px 0;
    margin: 2px auto;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 400;
  }
  
  .btn_enviar {
    @extend .btn;
    background-color: #108EFF;
  }
  .btn_borrar {
    @extend .btn;
    background-color: #D61E20;
  }
  .btn_cancelar {
    @extend .btn;
    background-color: #4cc052;
  }