.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar"
    "title title"
    "content content"
    "footer footer";
  }

