/*elementos-propiedades globales*/
html, body, .container {
  height: 100%;
  margin: 0px;
  font-family: 'Outfit', sans-serif;
}

/*variables de prueba*/
.titulo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  background: #343c3f;
  text-align: center;
  color: white;
}

img {
  max-width: 100%;
}

/*MAPS*/
.col--principal {
  color: #0A3143;
}

.col--complementerario {
  color: #A9A9A9;
}

.col--secundario {
  color: #ff3b3f;
}

.col--oscuro {
  color: #E6621f;
}

.col--claro {
  color: #EFEFEF;
}

/*MAP-GET*/
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "navbar navbar" "title title" "content content" "footer footer";
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: navbar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #556b99;
}

.navbar p {
  font-size: 1em;
  color: white;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: goldenrod;
  font-size: 1.4em;
}

.content-inicio {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #343c3f;
}

.content-inicio p {
  color: white;
  font-size: 1em;
  font-family: 'Arial';
  font-style: oblique;
  text-align: center;
}

.content-inicio p:hover {
  color: #da5520;
  font-size: larger;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #ff497c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px;
}

.content-nosotros {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3dfdf;
}

.content-nosotros p {
  font-size: 20px;
  padding-left: 20px;
  font-weight: 800;
}

@media (min-width: 1200px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 0.3fr 0.1fr 3.4fr auto auto;
        grid-template-rows: 0.3fr 0.1fr 3.4fr auto auto;
    gap: 0px 0px;
        grid-template-areas: "navbar navbar navbar" "title title title" "content content content" "footer footer footer" "footer footer footer";
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: navbar;
    background-color: #556b99;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar p {
    font-size: 1.4em;
  }
  .navbar ul li {
    font-size: 1.4em;
    list-style: none;
    display: inline;
    padding: 5px;
  }
  .content-inicio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 20px;
    grid-auto-flow: row;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: content;
    background: #343c3f;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .content-inicio .item-content p {
    margin-right: 120px;
    font-size: 1.4em;
    color: #dd3535;
  }
  .content-nosotros {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #e7dfe7;
    gap: 20px;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=mystyle.css.map */