/* mobile first */
 
  html, body , .container {
    height: 100%;
    margin: 0px;
    font-family: 'Outfit', sans-serif;
   }
  
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar"
    "title title"
    "content content"
    "footer footer";
  }

  .navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #556b99;
  }

  .navbar p{
    color: white;
  }

  .navbar ul{
    list-style: none;
  }

  .navbar ul li{
    display: inline;
  }

  .navbar a{
    text-decoration: none;
    color: white;
  }

  .navbar a:hover{
    color:goldenrod;
    font-size:larger;
  }

  .titulo{
    grid-area: title;
    background: #343c3f;
    text-align: center;
    color: white;
  }

  .content-inicio{
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    background: #343c3f
    
  }

  .content-inicio p{
    color: white;
    font-size: 20px;
    text-align: center;
  }
  

  .content-nosotros{
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;
  }

  .content-nosotros>div:nth-child(1){
    background-color: rgb(235, 227, 227);
  }
  .content-nosotros>div:nth-child(2){
    background-color:steelblue;
    color: whitesmoke;
  }
  .content-nosotros>div:nth-child(3){
    background-color: thistle;
    color: rgb(19, 18, 18);
  }

  img{
    max-width: 100%;
  }

  .footer{
    display: flex;
    flex-direction: column;
    grid-area: footer;
    background-color: #ff497c;
    align-items: center;
    color: white;
    justify-content: center;
    text-align: center;
  }

  .footer ul {
    list-style: none;;
  }

  .footer ul li{
    display: inline-flex;
    padding: 2px;
  }

  .content-servicios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #343c3f;
    gap: 2px 2px;
    grid-area: content;
    color: white;
    justify-content: center;
    align-items: center;
  }

  .servicios-item{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    margin: 0px 0px 5px 0px;
  }

  .content-contacto{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343c3f;
    color: whitesmoke;
    
  }

  fieldset{
    text-align: center;
  }

  legend{
    font-weight: bold;
    font-size: 20px;
  }

  form{
    width: 100%;
    padding:16px;
    border-radius:10px;
  }

  form label{
    width: 50%;
    font-weight: bold;
    display: inline-block;
  }

  form input{
    width: 50%;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 1px;
    background-color:#f6f6f6;
    margin: 8px 0;
    display:inline-block;
  }

  form input[type="submit"]{
    width: 50%;
    padding: 8px 16px;
    margin-top: 15px;
    color: #fff;
    background-color:rgb(197, 82, 82);
    border: 1px solid #000;
  } 

  form input[type="submit"]:hover{
    background-color: rgb(51, 101, 139);
    color: white;
  }

  textarea{
    width: 50%;
    height: 100px;
    margin: 8px 0;
    resize: none;
  }

  .content-contacto>div:nth-child(1){
    width: 100%;
  }

  .content-portfolio{
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .content-portfolio img{
    height: auto;
    border-radius: 20px;
  }

/* Desktop */
@media (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.1fr 3.4fr auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "navbar navbar navbar"
      "title title title"
      "content content content"
      "footer footer footer"
      "footer footer footer";
  }

  /* Navbar */
  .navbar {
    display: flex;
    grid-area: navbar;
    background-color: #556b99;
    color: white;
    align-items: center;
    justify-content: space-around;
  }

  .navbar p{
    font-size: 20px;
  }

 .navbar ul li{
      font-size: 1.3rem;
      list-style: none;
      display: inline;
      padding:5px
  }

 .navbar ul a{
    text-decoration: none;
    color: white
  } 

  .titulo{
    grid-area: title;
    background: #343c3f;
    text-align: center;
    color: white;
  }

  .content-inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    grid-auto-flow: row;
    grid-area: content;
    background: #343c3f;
    align-items: center;
    text-align:center;

  }

  .item-content p{
    margin-right: 120px;
    font-size: 1rem;
    color: white;
  }

/* Footer */
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: footer;
    background-color: #ff497c;
    align-items: center;
    color: white;
    justify-content: center;
     }

  .content-servicios{
      display: flex;
      flex-direction: row;
      background-color: #343c3f;
      gap: 2px 2px;
      grid-area: content;
      color: white;
      justify-content: center;
      align-items: center;
  }
  
  .servicios-item{
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 250px;
      background-color: tomato;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
  }

  .servicios-item p{
    font-size: 25px;
  }
  .content-nosotros{
      grid-area: content;
      display: flex;
      flex-direction: column;
      background-color: rgb(231, 223, 231);
      gap: 20px;
      text-align: justify;
      justify-content: center;
      align-items: center;
  }
  
  .content-nosotros>div:nth-child(1){
      background-color: rgb(235, 227, 227);
      margin-left: 40px;
      margin-right: 40px;
      font-size: large;
      font-weight: bold;
  }
    
  .content-nosotros>div:nth-child(2){
      background-color:steelblue;
      margin-left: 40px;
      margin-right: 40px;
      font-size: large;
      font-weight: bold;
      color: whitesmoke;
  }

  .content-nosotros>div:nth-child(3){
      background-color: thistle;
      margin-left: 40px;
      margin-right: 40px;
      font-size: large;
      font-weight: bold;
      color: rgb(19, 18, 18);
  }

  .content-contacto{
      grid-area: content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #343c3f;
      color: whitesmoke;
  }

  .content-contacto>div:nth-child(1){
      width: 40%;
      margin-left: 50px;
      padding-right: 20px;
  }

  .content-contacto>div:nth-child(2){
      width: 40%;
      margin-right: 100px;
      padding-left: 20px;
  }

  .content-portfolio{
      grid-area: content;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 5px;
      justify-content: center;
  }

  .content-portfolio img{
        width: 400px;
        height: auto;
        filter: grayscale(1);
  }

  .content-portfolio p{
      text-align: center;
  }
  
}